.signup {
    border-radius: 30px !important;
    background-color: #e94339 !important;
    height: 58px;
    width: 105px;
}
/* ========== Starts ================ */
.delivery_partner_left {
    margin-left: 80px;
}
.delivery_partner h1 {
    font-size: 70px;
    font-weight: 700;
    line-height: 75px;
    margin-bottom: 20px;
}
.delivery_boy {
    max-width: 100%;
    max-height: 355px;
    margin-left: 185px;
}
.order{
    margin-top: 25px;
    margin-bottom: 25px;
}
.order .order__input{
    width: 400px;
    height: 58px;
    border-radius: 25px;
    border: 1px solid #ffffff00;
    background-color: rgb(245, 245, 245);
 }
 .order__button{
    background-color: #ff5331;
    border-radius: 25px;
    border: 1px solid #ffffff00;
    padding: 5px 9px; 
    translate: -108px 0px;
    color: white;
    height: 50px;
 }
/* ============ Ends ============== */



/* ============ Starts ============== */
.dish_type {
    margin-top: 200px;
}
.dish_type h1{
    font-size: 45px;
    font-weight: 700;
    text-align: center;
}
.dish_type_upper {
    text-align: center;

}
.dish_type_text {
    font-size: 35px;
    font-weight: 700;
}
/* ========== Ends================ */



/* ========== Starts ================ */
.dish_order {
    margin-top: 200px;
    margin-bottom: 200px;
}
.dish_order h1 {
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 85px;
    text-align: center;
}
.dish_order span {
    font-size: 45px; color: #ff5331; 
    font-weight: 700;  
    font-size: 57px;
    color: #ff5331;
    font-weight: 700;
    translate: 93px -51px;
    z-index: -1;
}
/* =========== Ends =============== */



/* ============ Starts ============== */
.feedback h1 {
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 15px;
}
.feedback p {
    font-size: 17px;
    font-weight: 400;
    margin-bottom: 15px;
}
.feedback_upper {
    text-align: center;
}
.feedback_lower {
    text-align: center;
}
.feedback_lower p{
    font-size: 27px;
    font-weight: 600;
    font-style: italic;
    margin-bottom: 40px;
}
/* ========== Ends================ */


/* ============= Starts ============= */
.newsletter {
    margin-top: 200px;
    background-color: #ffefec;
}
.newsletter h2 {
    font-size: 45px;
    font-weight: 700;
}
.newsletter p {
    font-size: 14px;
    font-weight: 400;
}
.search {
    margin-left: 285px;
}
 .search .search__input{
    width: 500px;
    height: 70px;
    border-radius: 58px;
    border: 1px solid #ffffff00;
 }
 .search__button{
    background-color: #ff5331;
    border-radius: 50px;
    border: 1px solid #ffffff00;
    padding: 15px 21px; 
    translate: -87px 0px;
    color: white;
    height: 58px;
 }
 /* ============ Ends ============== */ 

.downFooter {
    margin-top: 150px;
}
